# Hello world

In [6]:
#This line print Hello World!
print("Hello world!")

Hello world!

In [7]:
#This is a new cell
print("New Cell")

New Cell

# String

In [9]:
# String Example
print('String in enclosed Single Quote')
print("String enclosed in double quotes")

String in enclosed Single Quote
String enclosed in double quotes

# Integer

In [13]:
# Integer Example
print(1234567890)
print("1234567890")

1234567890
1234567890

In [15]:
1234567890

1234567890

In [16]:
"123456789"

'123456789'

In [17]:
'123456789'

'123456789'

In [18]:
# Variable Example
## creating a variable containg String and printing it
current_msg = "Hi...My name is Prachi."
print(current_msg)

Hi...My name is Prachi.

In [19]:
# Assigning new value to current_msg variable.
current_msg = "Good evening !!!"

In [20]:
current_msg

'Good evening !!!'

# Variable Data Types

In [22]:
# assign a string value to a variable student_name
student_name = "Prachi Gondhali"

In [23]:
# print the value of variable student_name
print(student_name)

Prachi Gondhali

In [25]:
# assign the student_name variable a different string value (a different name)
student_name = "Chetan Bhoge"

In [26]:
# print the value of variable student_name
print(student_name)

Chetan Bhoge

In [29]:
# assigning a value to a variable called bucket
bucket = "100"

In [30]:
# print the value of bucket
print(bucket)

100

In [31]:
# assign an Integer value (no quotes) to the variable bucket
bucket = 10

In [32]:
print(bucket)

10

# Type() Function

In [33]:
bucket = 16

In [34]:
type(bucket)

int

In [35]:
bucket = "Hello"

In [36]:
type(bucket)

str

In [37]:
bucket = "Hii"

In [38]:
type(bucket)

str

In [39]:
bucket = 'Hii'

In [40]:
type(bucket)

str

In [43]:
bucket = 1.55

In [44]:
type(bucket)

float

In [45]:
type(3)

int

# Addition and Errors

In [46]:
35+67+90

192

In [47]:
12.67 + 30

42.67

In [48]:
"This notebook belongs to "+"Prachi"

'This notebook belongs to Prachi'

In [51]:
# Create variables sm_number and big_number and assign numbers then add the numbers
sm_number = 10
big_number = 10000
sm_number + big_number

10010

In [52]:
# assign a string value to the variable first_name and add to the string ", remember to save the notebook frequently"
first_name = "Prachi"
first_name + ", remember to save the notebook frequently"

'Prachi, remember to save the notebook frequently'

# Variable Addition

In [53]:
add_two = 34 + 16
first_name = "Alton"
greeting = "Happy Birthday " + first_name
print(add_two)
print(greeting)

50
Happy Birthday Alton

In [54]:
int_sum = 6 + 7
print(int_sum)
print(11 + 15)
print()

13
26

In [55]:
hat_msg = "I do not wear " + "a hat"  
print(hat_msg)
print("at " + "dinner")

I do not wear a hat
at dinner

In [62]:
new_msg = "My favorite food is"
print(new_msg)

My favorite food is

In [63]:
new_msg = new_msg + " Pizza"
print(new_msg)

My favorite food is Pizza

In [59]:
new_sum =   2+3+5
print(new_sum)

10

In [64]:
new_msg + new_sum

TypeError: must be str, not int

In [65]:
new_msg + 2+3

TypeError: must be str, not int

In [66]:
# create and print a new string variable, new_msg_2, that concatenates new_msg + a literal string
new_msg_2 = new_msg + "123"

In [67]:
new_msg_2

'My favorite food is Pizza123'

In [68]:
total_cost = 3 + "45"
print(total_cost)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [69]:
total_cost = 3 + 45
print(total_cost)

48

In [71]:
school_num = "123"
print("the street number of Central School is " + school_num)

the street number of Central School is 123

In [72]:
13.55 + 56

69.55

In [73]:
print(type(3.3))
print(type(3))
print(3.3 + 3)

<class 'float'>
<class 'int'>
6.3

In [74]:
print("Hi!")

Hi!

In [75]:
print('I like the morning")

SyntaxError: EOL while scanning string literal (<ipython-input-75-218df863f385>, line 1)

In [76]:
print("I like the morning")

I like the morning

In [77]:
"Hi"+"hello"

'Hihello'

# Ascii Art

In [2]:
# the letter 'A'
print("   *  ")
print("  * *")
print(" *****")
print("*     *")
print()

   *
  * *
 *****
*     *

In [6]:
print("  _         _  ")      
print("   \       /   ")
print("    \ . . /    ")  
print("       V       ")

  _         _
   \       /
    \ . . /
       V

In [7]:
print(" _____ ")
print("|      ")
print("|      ")
print("|__    ")
print("|      ")
print("|_____ ")

 _____
|
|
|__
|
|_____

# Input Funtion

In [8]:
print("enter a small int: ")
small_int = input()
print("small int: ")
print(small_int)

enter a small int:
3
small int:
3

In [9]:
print("enter a small int: ")
small_int = input()
print("small int: ")
print(small_int)

enter a small int:
3
small int:
3

In [10]:
print("Enter Student Name : ")
student_name = input()

Enter Student Name :
Prachi Gondhali

In [12]:
type(student_name)

str

In [15]:
number = input()

30.55

In [16]:
type(number)

str

In [19]:
city = input("Enter your City:")

Enter your City:Mumbai

In [20]:
print("The city name is: "+city)

The city name is: Mumbai

In [26]:
name = input("Name: ")
age = input("Age: ")
get_mail = input("Email: ")

Name: Prachi
Age: 23
Email: gondhaliprachi@gmail.com

'Prachi Gondhali'

# Comma separated strings

In [27]:
print("Hello","I am Prachi","and I am 23 years old.")

Hello I am Prachi and I am 23 years old.

# printing numbers with strings using comma

In [28]:
print("My maths score is",96,"out of",100)

My maths score is 96 out of 100

In [29]:
street = input()

Vivekanand nagar

In [30]:
st_number = input()

101

In [31]:
print(street,st_number)

Vivekanand nagar 101

In [32]:
variable = 5

In [33]:
print(variable,"abc",456)

5 abc 456

# task

In [36]:
owner =  input("Owner Name: ")

Owner Name: Prachi gondhali

In [37]:
num_people = input("Number of people attending the training: ")

Number of people attending the training: 20

In [46]:
training_time = input("Class Timing: ")

Class Timing: 3.50 pm

In [39]:
min_early = 10

In [43]:
print("Contact Person for Training Group:",owner)

Contact Person for Training Group: Prachi gondhali

In [44]:
print("Number of attendies:",num_people)

Number of attendies: 20

In [47]:
print("Timing:",training_time)

Timing: 3.50 pm

In [49]:
print("___________________________________")

___________________________________

In [52]:
print("Reminder:","Training is schedule at",training_time,"for the",owner,"group of",num_people,"attendees.",  
"Please arrive",min_early,"minutes early for the first class")

Reminder: Training is schedule at 3.50 pm for the Prachi gondhali group of 20 attendees. Please arrive 10 minutes early for the first class

In [53]:
print("Contact Person for Training Group:",owner)
print("Number of attendies:",num_people)
print("Timing:",training_time)
print("___________________________________")
print("Reminder:","Training is schedule at",training_time,"for the",owner,"group of",num_people,"attendees.",  
"Please arrive",min_early,"minutes early for the first class")

Contact Person for Training Group: Prachi gondhali
Number of attendies: 20
Timing: 3.50 pm
___________________________________
Reminder: Training is schedule at 3.50 pm for the Prachi gondhali group of 20 attendees. Please arrive 10 minutes early for the first class

# Quotes

In [54]:
print("It's time to save your code")

It's time to save your code

In [55]:
print('I said to the class "sometimes you need to shut down and restart a notebook when cells refuse to run"')

I said to the class "sometimes you need to shut down and restart a notebook when cells refuse to run"

In [56]:
print('I said to the class "sometimes you need to shut down and restart a notebook when cells refuse to run"')

I said to the class "sometimes you need to shut down and restart a notebook when cells refuse to run"

In [57]:
print("Where's the Homework")

Where's the Homework

In [59]:
print('"Education is what remains after one has forgotten what one has learned in school" - Albert Einstein')

"Education is what remains after one has forgotten what one has learned in school" - Albert Einstein

# Boolean String Tests

In [60]:
"Python".isalpha()

True

In [62]:
"3rd".isalnum()
"A Cold Stormy Night".istitle()
"1003".isdigit()
cm_height = "176"
print("cm height:",cm_height, "is all digits =",cm_height.isdigit())
print("SAVE".islower())
print("SAVE".isupper())
"Boolean".startswith("B")

cm height: 176 is all digits = True
False
True

True

In [63]:
"3rd".isalnum()

True

In [64]:
"A Cold Stormy Night".istitle()

True

In [65]:
"1003".isdigit()

True

In [66]:
cm_height = "176"
print("cm height:",cm_height, "is all digits =",cm_height.isdigit())

cm height: 176 is all digits = True

In [67]:
print("SAVE".islower())

False

In [68]:
print("SAVE".isupper())

True

In [69]:
"Boolean".startswith("B")

True

In [70]:
"alphabetical".isalpha()

True

In [71]:
"Are spaces and punctuation Alphabetical?".isalpha()

False

In [1]:
num = "33"

In [2]:
print(num)

33

In [3]:
print("ms. Browning is in her office.".capitalize())

Ms. browning is in her office.

In [4]:
fav_color = "green"
print(fav_color.capitalize(), fav_color, fav_color,"and", fav_color.upper()+"!")

Green green green and GREEN!

In [5]:
fav_food = "Pizza"

In [6]:
print(fav_food.upper())

PIZZA

In [7]:
print(fav_food.lower())

pizza

In [8]:
fav_food.swapcase()

'pIZZA'

In [9]:
fav_food.capitalize()

'Pizza'

In [10]:
 fav_color = "Black"

In [11]:
print("My favorite color is",fav_color.upper(),fav_color.lower(),fav_color.swapcase(),fav_color.capitalize())

My favorite color is BLACK black bLACK Black

In [12]:
fav_color = input('What is your favorite color?: ').lower()
print(fav_color)

What is your favorite color?: Black
black

In [13]:
greeting = "Hello World!"

In [14]:
print("'hello' in greeting = ",'hello' in greeting)

'hello' in greeting =  False

In [15]:
print("'Hello' in greeting = ", 'Hello' in greeting)

'Hello' in greeting =  True

In [16]:
menu = "salad, pasta, sandwich, pizza, drinks, dessert"

In [17]:
print('pizza' in menu)

True

In [18]:
print('soup' in menu)

False

In [19]:
print('dessert' in menu)

True

In [20]:
add_item = input("Enter an item: ")

Enter an item: coffee

In [21]:
#print the current menu
menu = "salad, pasta, sandwich, pizza, drinks, dessert"

In [22]:
#get user input for add_item variable
add_item = input("Enter a new item: ")

Enter a new item: milkshake

In [23]:
#new_menu use string addition to add add_item to menu
new_menu = menu + add_item

In [24]:
#print the new_menu
print(new_menu)

salad, pasta, sandwich, pizza, drinks, dessertmilkshake

In [25]:
#print the new_menu
print(new_menu)

salad, pasta, sandwich, pizza, drinks, dessertmilkshake

In [26]:
# Testing Add to Menu - create user input to search for an item on the new menu
print(add_item in menu)

False

In [27]:
paint_colors = "red, blue, green, black, orange, pink"
print('red in paint colors = ','red' in paint_colors)

red in paint colors =  True

In [28]:
   name = "SKYE HOMSI"
print("y" in name.lower())

True

# Final Assignment

In [29]:
# Create Allergy check code
# then PASTE THIS CODE into edX

# [ ] get input for input_test variable
input_test = input("enter somethings eaten in last 24 hrs: ")

# [ ] print "True" message if "dairy" is in the input or False message if not

print('diary'.lower() in input_test.lower())

# [ ] print True message if "nuts" is in the input or False if not
print('nuts'.lower() in input_test.lower())

# [ ] Challenge: Check if "seafood" is in the input - print message
print('seafood'.lower() in input_test.lower())

# [ ] Challenge: Check if "chocolate" is in the input - print message
print('chocolate'.lower() in input_test.lower())

enter somethings eaten in last 24 hrs: salad, diary, nuts, coffee, milkshake
True
True
False
False